<!--minified version for dashboard-->
<div class="flex-space-between shell-tab grey-tab-gradient">
  <div class="flex-item-no-grow-shrink-15"><input type="checkbox"></div>
  <div class="flex-item-no-grow-shrink-30"><h6><%= element.user.fname %> </h6></div>
  <div class="flex-item-grow-only-auto"><h6><%=truncate( element.subject, length: 15)%></h6></div>
  <% if element.created_at.strftime('%b %d %y') == DateTime.now.strftime('%b %d %y')%>
    <div class="flex-item-grow-only-auto"><h6><b><%= element.created_at.strftime('%I:%M %p')%></b></h6></div>
  <% else %>
    <div class="flex-item-grow-only-auto"><h6><b><%= element.created_at.strftime('%b %d %Y')%></b></h6></div>
  <% end %><!--end of if statement; if today, then show time-->
</div><!--end of flexbox shell-tab-->
