<div class="container">
  <div class="flex-center-center shell-border">
    <div class="shell-border">
      <div class="flex-center-center center-div grey-shell-gradient">
        <h4 class="center-text">message:</h4>
      </div>
    <%= render "messages/new_message_form", consultation: @consultation, message: @message %>
    </div>
  </div>
</div>
