.animate-lesson-btn{
  animation-duration: 3s;
  animation-delay: 2.5s;
  animation-iteration-count: 11;
}
.animate-class-btn{
  animation-duration: 4s;
  animation-delay: 3s;
  animation-iteration-count: 6;//pulses six times
}
