// Define variables for your color scheme

// For example:
$brand-primary-color: #FFA555;
$brand-green: #16db93;
$brand-purple: #132ABC;
$brand-gray: #AFAFAF;
$brand-blue: #4FC1DA;
$base-app-color: #F8F8F8;
$red: #DE4743;
$blue: #2B8DDF;
$yellow: #FFB221;
$orange: #E67E22;
$green: #1CD1A4;
$gray: #010101; //for text
$light-gray: #F4F4F4;
$charcoal: #4F4F4F;
$black: #3C3C3C;
$white: #FEFEFE;
