// Define variables for your color scheme

// For example:
$brand-primary-color: #FFA555;
$base-app-color: #F8F8F8;
$red: #DE4743;
$blue: #2B8DDF;
$yellow: #FFB221;
$orange: #E67E22;
$green: #1CD1A4;
$gray: #010101; //for text
$brand-gray: #AFAFAF;
$light-gray: #F4F4F4;
$black: #3C3C3C;
