// Define variables for your color scheme

// For example:
$brand-primary-color: #FFA555;
$brand-green: #16db93;
$brand-purple: #132ABC;
$brand-gray: #AFAFAF;
$brand-blue: #4FC1DA;
$brand-red: #B22E25;
$base-app-color: #FEFEFE;
$red: #DE4743;
$blue: #2B8DDF;
$blue-45: #094cdc;
$dark-blue-25: #042261;
$dark-navy: #000030;
$dark-purple: #1D0E2F;
// $dark-purple: #160A1F;
// $dark-purple: #190A1F;
$xiketic: #13091F;
$yellow: #FFB221;
$orange: #E67E22;
$green: #1CD1A4;
$gray: #010101; //for text
$light-gray: #F4F4F4;
$light-charcoal: #3E3E3E; //too light
$charcoal: #333333;
$black: #202020;
$white: #FEFEFE;
$navy: #031b4d;


.white-text{
  color: $white;
}
.white-background{
  background-color: $white;
}
.black{
  color: $black;
}
.black-background{
  background-color: $black;
}
.navy-text{
  color: $navy;
}
.navy-background{
  background-color: $navy;
}
.blue-background{
  background-color: $dark-blue-25;
}
.dark-navy-text{
  color: $dark-navy;
}
.dark-navy-background{
  background-color: $dark-navy;
}
.dark-purple-text{
  color: $dark-purple;
}
.dark-purple-background{
  background-color: $dark-purple;
}
.x-purple-text{
  color: $xiketic;
}
.x-purple-background{
  background-color: $xiketic;
}
.charcoal-background{
  background-color: $charcoal;
}
.charcoal-text{
  color: $charcoal;
}
.brand-red-background{
  background-color: $brand-red;
}
.brand-red-text{
  color: $brand-red;
}
.red-text{
  color: $brand-red;
}
.blue-text{
  color: $blue-45;
}
.green-text{
  color: $brand-green;
}
.brand-green{
  color: $brand-green;
}
.grey-text{
  color: $gray;
}
.grey-tab-gradient{
  background-image: -webkit-linear-gradient(275deg, rgba(248,248,248,0.05), rgba(0,0,0,0));
  background-image: -o-linear-gradient(275deg, rgba(248,248,248,0.05), rgba(0,0,0,0));
  background-image: linear-gradient(5deg, rgba(248,248,248,0.05), rgba(0,0,0,0));
}
.grey-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0,0.01), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(0, 0, 0,0.01), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(0, 0, 0,0.01), rgba(0,0,0,0));
}
.blue-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(132,175,255,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(132,175,255,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(132,175,255,0.3), rgba(0,0,0,0));
}
.turcoise-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(4,139,168,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(4,139,168,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(4,139,168,0.3), rgba(0,0,0,0));
}
.green-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(22,219,147,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(22,219,147,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(22,219,147,0.3), rgba(0,0,0,0));
}
.yellow-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(239,234,90,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(239,234,90,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(239,234,90,0.3), rgba(0,0,0,0));
}
.orange-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(242,158,76,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(242,158,76,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(242,158,76,0.3), rgba(0,0,0,0));
}
.green-shell-gradient-header{
  background-image: -webkit-linear-gradient(rgba(22,219,147,0.5), rgba(22,219,147,0.2));
  background-image: -o-linear-gradient(rgba(22,219,147,0.5), rgba(22,219,147,0.2));
  background-image: linear-gradient(rgba(22,219,147,0.5), rgba(22,219,147,0.2));
}
.blue-shell-gradient-header{
  background-image: -webkit-linear-gradient(rgba(132,175,255,0.6), rgba(132,175,255,0.3));
  background-image: -o-linear-gradient(rgba(132,175,255,0.6), rgba(132,175,255,0.3));
  background-image: linear-gradient(rgba(132,175,255,0.6), rgba(132,175,255,0.3));
}
