// Define variables for your color scheme

// For example:
$brand-primary-color: #FFA555;
$brand-green: #16db93;
$brand-purple: #132ABC;
$brand-gray: #AFAFAF;
$brand-blue: #4FC1DA;
$base-app-color: #FEFEFE;
$red: #DE4743;
$blue: #2B8DDF;
$yellow: #FFB221;
$orange: #E67E22;
$green: #1CD1A4;
$gray: #010101; //for text
$light-gray: #F4F4F4;
$charcoal: #4F4F4F;
$black: #3C3C3C;
$white: #FEFEFE;

.white-text{
  color: $white;
}
.white-background{
  background-color: $white;
}
.black{
  color: $black;
}
.black-background{
  background-color: $black;
}
.charcoal-background{
  background-color: $charcoal;
}
.charcoal-text{
  color: $charcoal;
}
.red-text{
  color: $red;
}
.blue-text{
  color: $brand-blue;
}
.green-text{
  color: $brand-green;
}
.brand-green{
  color: $brand-green;
}
.grey-tab-gradient{
  background-image: -webkit-linear-gradient(275deg, rgba(248,248,248,0.05), rgba(0,0,0,0));
  background-image: -o-linear-gradient(275deg, rgba(248,248,248,0.05), rgba(0,0,0,0));
  background-image: linear-gradient(5deg, rgba(248,248,248,0.05), rgba(0,0,0,0));
}
.grey-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0,0.01), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(0, 0, 0,0.01), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(0, 0, 0,0.01), rgba(0,0,0,0));
}
.blue-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(132,175,255,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(132,175,255,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(132,175,255,0.3), rgba(0,0,0,0));
}
.turcoise-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(4,139,168,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(4,139,168,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(4,139,168,0.3), rgba(0,0,0,0));
}
.green-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(22,219,147,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(22,219,147,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(22,219,147,0.3), rgba(0,0,0,0));
}
.yellow-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(239,234,90,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(239,234,90,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(239,234,90,0.3), rgba(0,0,0,0));
}
.orange-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(242,158,76,0.3), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(242,158,76,0.3), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(242,158,76,0.3), rgba(0,0,0,0));
}
.green-shell-gradient-header{
  background-image: -webkit-linear-gradient(rgba(22,219,147,0.5), rgba(22,219,147,0.2));
  background-image: -o-linear-gradient(rgba(22,219,147,0.5), rgba(22,219,147,0.2));
  background-image: linear-gradient(rgba(22,219,147,0.5), rgba(22,219,147,0.2));
}
