::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #848484;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #848484;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #848484;
}

.wrapper{
  text-align: center;
}
.center-text{
  text-align: center;
}
.inline-block{
  display: inline-block;
}
.center-div{
  margin: auto;
}
.inline-list-item{
  padding: 0px 30px;
}
.form-text{
  font-size: 11.5px;
  font-family: arial;
}
.content-grid{
  display: grid;
}

.padding{
  padding: 10px;
}

.padding-5{
  padding: 5px;
}

.padding-3{
  padding: 3px;
}
