<div class="flex-space-between grey-shell-gradient padding-5">
  <div class="flex-33 center-div center-text"><h5><b><%= t('global.label.instructor') %></b></h5></div>
  <div class="flex-33"><h5><b><%= t('global.label.information') %></b></h5></div>
  <div class="flex-33 center-text"><h5><b><%= t('global.label.rate') %></b></h5></div>
</div><!--end of flex-space-between-->
