<div class="flex-space-between grey-shell-gradient padding-5">
  <div class="flex-33 center-div center-text"><h5><%= t('global.label.instructor') %></h5></div>
  <div class="flex-33 center-div"><h5><%= t('global.label.information') %></h5></div>
  <div class="flex-33 center-div center-text"><h5><%= t('global.label.rate') %></h5></div>
</div><!--end of flex-space-between-->
