
<div class="flex-space-between shell-border shell-tab grey-tab-gradient">
  <div class="flex-item-grow-only-auto"><h6><%= truncate( element.consult_title, length: 20) %></h6></div>
  <div class="flex-item-no-grow-shrink-20"><%= link_to consultation_path(element) do %>
    <i class="fas fa-info-circle" aria-hidden="true"></i><% end %>
  </div>
  <div class="flex-item-no-grow-shrink-20"><%= link_to consultation_path(element), method: :delete do %>
    <i class="fas fa-trash-alt" aria-hidden="true"></i><% end %>
  </div>
</div><!--end of flex-space-between dashboard-consults-product-items shell-border shell-tab-->
