<div class="content-grid element-index-area">
  <div class="element-index-header">
    <h1>hi from header</h1>
  </div>
  <div class="element-index-panel dashboard-user-panel-links-shell shell-border-dark black-background white-text">
    <%= render "consultations/index_panel" %>
  </div><!--end of element-panel-->
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <div class="navbar-esl-item">
        <%= render 'consultations/index_menu' %>
      </div>
      <div class="container-fluid">
        <div class="row">
          <% @consult_city_links.each do |c_city_link| %>
            <div class="col-md-6">
              <%= link_to lang_loc_consultations_path(consult_language: @consult_lang, consult_city: c_city_link ) do %>
              <!-- http://localhost:3000/consultations/lang_loc?consult_language=English&consult_city=Seoul-->
                <div class="white-background card1 center-text">
                  <h3><%= c_city_link %></h3>
                </div><!--end white card1 center-text-->
              <% end %><!--end of link-->
            </div><!--col-md-6-->
          <% end %><!--end of cloc_link-->
        </div><!--row-->
      </div><!--container-->
    </div>
  </div>
  <div class="element-index-base">
    <h1>hellow from base</h1>
  </div><!--end of index-base-->
</div>
