<div class="container">
  <div class="row">
    <% @consult_language_links.each do |clang_link|%>
      <div class="col-xs-6 col-sm-6">
        <div class="white card1 center-text">
          <%= link_to language_consultations_path(consult_language: clang_link) do %>
            <h6><%= clang_link %></h6>
          <% end %><!--end of link-->
        </div><!--end white card1 center-text-->
      </div><!--col-xs-6 col-sm-6-->
    <% end %><!--end of clang_link-->
  </div><!--row-->
</div><!--container-->
