<div class="content-grid element-index-area">
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <div class="navbar-esl-item">
        <%= render 'consultations/index_menu' %>
      </div>
      <%= render 'consultations/index_table_header' %>
      <% @consult_lang_edu_group.each do |clangtype_member| %>
        <% @clangtype_member = clangtype_member %>
        <% @clangtype_member_title = clangtype_member.consult_title %>
        <%= render 'consultations/index', element: clangtype_member %>
      <% end %><!--end of @consultations.each do-->
    </div><!--background color: white-->
    <div class="center-text center-div">
      <div class="">
        <!-- will_pagination (below) is a div w/ class called "pagination"
          this is refernced in _paginate.scss, but can be overwritten-->
        <%= will_paginate @consult_lang_edu_group %>
      </div>
    </div>
  </div><!-- end of consultations-index-shell-->
</div><!--end of consult-index-area-->
