<div class="container">
  <div class="row">
    <% @consult_location_links.each do |cloc_link| %>
      <div class="col-xs-6 col-sm-6">
        <div class="white card1 center-text">
          <%= link_to location_consultations_path(consult_location: cloc_link) do %>
            <h6><%= cloc_link %></h6>
          <% end %><!--end of link-->
        </div><!--end white card1 center-text-->
      </div><!--col-xs-6 col-sm-6-->
    <% end %><!--end of cloc_link-->
  </div><!--row-->
</div><!--container-->
