<div class="content-grid element-index-area">
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <!-- Dropdown appearing on all devices -->
      <div class="navbar-esl-item">
        <%= render 'consultations/index_menu' %>
      </div>
      <div class="container-fluid">
        <div class="row">
          <% @consult_type_links.each do |ctype_link| %>
            <div class="col-md-6">
              <%= link_to type_consultations_path(consult_type: ctype_link) do %>
                <div class="white-background card1 center-text">
                  <h3><%= ctype_link %></h3>
                </div><!--end white card1 center-text-->
              <% end %>
            </div><!--col-md-6-->
          <% end %><!--end of ctype_link-->
        </div><!--row-->
      </div><!--container-->
    </div>
  </div>
</div>
