<div class="content-grid element-index-area">
  <div class="element-index-header ">
    <h1>hi from header</h1>
  </div>
  <div class="element-index-panel dashboard-user-panel-links-shell shell-border-dark black-background white-text">
    <%= render "consultations/index_panel" %>
  </div>
  <div class="element-index-shell shell-border">
    <div style="background-color: white;">
      <!-- Dropdown appearing on all devices -->
      <div class="navbar-esl-item">
<!--link to index_menu_partial-->
      </div>
      <div class="container-fluid">
        <div class="row">
          <% @consult_type_links.each do |ctype_link| %>
            <div class="col-md-6">
              <%= link_to type_consultations_path(consult_type: ctype_link) do %>
                <div class="white-background card1 center-text">
                  <h3><%= ctype_link %></h3>
                </div><!--end white card1 center-text-->
              <% end %>
            </div><!--col-md-6-->
          <% end %><!--end of ctype_link-->
        </div><!--row-->
      </div><!--container-->
    </div>
  </div>
   <div class="element-index-base">
    <h1>hellow from base</h1>
  </div><!--end of index-base-->
</div>
