<div class="privatemessage-form-div grey-shell-gradient">
  <%= simple_form_for ([user, privatemessage]) do |f| %>
    <%= f.input :subject, label: false, placeholder: "Re:" %>
    <%= f.input :pm, label: false, as: :text, placeholder: "private message: must be less than 350 characters!" %>
    <div>
      <%= f.button :submit, "send message", class: "btn btn-primary no-decor btn-grad-light light-shadow" %>
    </div>
  <% end %>
</div><!--end of private message div-->
