<div class="privatemessage-form-div">
  <%= simple_form_for ([user, privatemessage]) do |f| %>
    <%= f.input :subject, label: false, placeholder: "subject" %>
    <%= f.input :pm, label: false, placeholder: "private message" %>
    <div>
      <%= f.button :submit, "submit message", class: "btn btn-primary no-decor btn-grad-light light-shadow" %>
    </div>
  <% end %>
</div><!--end of private message div-->
