.appoint-show-area{
  grid-gap: 2px 2px;
  grid-template-areas:
  ". links ."
  ". title ."
  ". instructor ."
  ". client ."
  ". details ."
;
}

@media (min-width: 850px){
  .appoint-show-area{
    grid-gap: 5px;
    grid-template-areas:
  ". links links ."
  ". title title ."
  ". instructor instructor ."
  ". client client ."
  ". details details ."
  ;
  }
}

@media (min-width: 950px){
  .appoint-show-area{
    // display: grid;
    // grid-template: [row-start] repeat(8, 1fr) [row-end] / [col-start] 2% repeat(8, 1fr) 2% [col-end]; // rows/cols
    grid-template: [row-start] repeat(auto, 1fr) [row-end] / [col-start] 1% repeat(10, 1fr) 1% [col-end]; //rows set to auto; not fits!
    grid-gap: 2px 2px;
    grid-template-areas:
    ". links links links links links links links links links links ."
    ". title title title title title title title title title title ."
    ". instructor instructor instructor instructor details details client client client client ."
    ". . . . . . . . . . . ."
    ;
  }
}
.appoint-show-role-head{
  // color: white;
  // -webkit-text-stroke: 1px grey;
}
.appoint-show-links-shell{
  grid-area: links;
}
.appoint-show-title-shell{
  grid-area: title;
}
.appoint-show-instructor-shell{
  grid-area: instructor;
}

.appoint-show-client-shell{
  grid-area: client;
}

.appoint-show-details-shell{
  grid-area: details;
}
