// .con {
//   grid-template: [row-start] repeat(8, 1fr) [row-end] / [col-start] 2% repeat(8, 1fr) 2% [col-end];
//   grid-gap: 5px 5px;
// }
.consultation-area{
  // background-color: #E5E5E5;
  grid-gap: 2px;
  grid-template-areas:
  "chead"
  "cinstr"
  "cdet"
  "cuserrev"
  "cbase"
;
}

@media (min-width: 768px){
  .consultation-area{
    // background-color: #E5E5E5;
    grid-gap: 5px;
    grid-template-areas:
    "chead chead"
    "cinstr cinstr"
    "cdet cdet"
    "cuserrev cuserrev"
    "cbase cbase"
    ;
  }
}
@media (min-width: 950px){
  .consultation-area{
    // display: grid;
    // grid-template: [row-start] repeat(8, 1fr) [row-end] / [col-start] 2% repeat(7, 1fr) 2% [col-end];
      grid-template: [row-start] repeat(auto, 1fr) [row-end] / [col-start] 1% repeat(4, 1fr) 1% [col-end]; //rows set to automatic; now fits
      grid-gap: 2px 2px; //row columns
      grid-template-areas:
    ". chead chead chead chead ."
    ". cinstr cdet cdet cdet ."
    ". cinstr cuserrev cuserrev cuserrev ."
    ". cbase cbase cbase cbase ."
    ;
  }
}

.element-cshow-head{
  grid-area: chead;
}
.element-cshow-inst{
  grid-area: cinstr;
}
.element-cshow-det{
  grid-area: cdet;
}
.element-cshow-revs{
  grid-area: cuserrev;
}
.element-cshow-base{
  grid-area: cbase;
}
