.index-consult-shell{
  max-width: 800px;
}

.index-consult-items{
  display: flex;
  justify-content: space-between; //aligned on column?
  align-items: center; //center of row?
  text-align: center;
  flex-direction: row;

}
.index-consult-item{
  flex: 0 0 16.8%;
}
.index-consult-item2{
  flex: 1 0 auto;
}
