// .grid {
//   display: grid;
//   grid-template-columns: [start-col] 1fr [second-col] 1fr [third-col] 1fr [third-col] 1fr [fouth-col] 1fr [end-col]; //corner to corner
//   grid-template-rows: [start-row] 1fr [second-row] 1fr [end-row]; //top to bottom
// }
.dash-area{
  // background-color: #E5E5E5;
  grid-gap: 5px;
  grid-template-areas:
  "panel"
  "myconsults"
  "appoint"
  "messages"
  "consult"
  "review"
  "client"
;
}
@media (min-width: 700px){
  .dash-area{
    // background-color: #E5E5E5;
    grid-gap: 10px;
    grid-template-areas:
    ". panel panel ."
    ". myconsults myconsults ."
    ". appoint appoint ."
    ". messages messages ."
    ". consult consult ."
    ". review review ."
    ". client client ."
    ;
  }
}
@media (min-width: 900px){
  .dash-area{
    // background-color: #E5E5E5;
    // display: grid;
    // grid-template: [row-start] repeat(8, 1fr) [row-end] / [col-start] 2% repeat(8, 1fr) 2% [col-end]; // rows/cols
    grid-template: [row-start] repeat(auto, 1fr) [row-end] / [col-start] 2% repeat(8, 1fr) 2% [col-end]; //rows set to automatic; now fits
    grid-gap: 5px 5px; //row columns
    grid-template-areas:
    ". panel messages messages messages myconsults myconsults appoint appoint ."
    ". panel messages messages messages myconsults myconsults appoint appoint ."
    ". panel messages messages messages myconsults myconsults appoint appoint ."
    ". panel messages messages messages myconsults myconsults appoint appoint ."
    ". panel consult consult review review review review client ."
    ". panel consult consult review review review review client ."
    ". panel consult consult review review review review client ."
    ". panel consult consult review review review review client ."
    ;
  //   /* same as below:
  //   display: grid;
  //   grid-template-columns: [start-col] 1fr [second-col] 1fr [third-col] 1fr [third-col] 1fr [fouth-col] 1fr [end-col]; //corner to corner
  //   grid-template-rows: [start-row] 1fr [second-row] 1fr [end-row]; //top to bottom
  //   */
  }
}

.dashboard-user-info-div{
  grid-area: user;
}
.dashboard-user-panel-links-shell{
  grid-area: panel;
}
.dashboard-messages-shell{
  grid-area: messages;
}
.dashboard-message{
}

.dashboard-consults-shell{
  grid-area: myconsults;
}
.dashboard-consults-product-shell{
  grid-area: consult;
}
.dashboard-consults-product-items{
}
.dashboard-product-item{
  flex: 0 0 6%;
}
.dashboard-appointments-shell{
  grid-area: appoint;
}
.dashboard-consults-reviews-shell{
  grid-area: review;
}
.dashboard-review-list-items{
}
.review-item{
}
.dashboard-clients-list-shell{
  grid-area: client;
}
.dashboard-clients-list-div{
}
.dashbaoard-client-list-items{
}
.client-item{
}

.counter{
  border: 1px solid $red;
  background-color: $red;
  width: 30px;
  length: 30px;
  box-shadow: 1px 1px 6px #a8a8a8;
  border-radius: 50%;
  padding: 3px;
  margin: 3px;
  color: white;
  text-align: center;
}
