.home-area{
  grid-gap: 5px;
  grid-template-areas:
  ". elHEAD ."
  ". elA ."
  ". elB ."
  ". elC ."
  ". elHEADTWO ."
  ". elD ."
  ". elE ."
  ". elF ."
  ". elHEADTHREE ."
  ". elG ."
  ". elH ."
  ". elI ."
  ". elBASE ."
  ;
}

@media (min-width: 768px){
  .home-area{
    // background-color: #E5E5E5;
    grid-gap: 6px;
    grid-template-areas:
    ". elHEAD elA ."
    ". elB elC ."
    ". elHEADTWO elD ."
    ". elE elF ."
    ". elHEADTHREE elG ."
    ". elH elI ."
    ". elBASE elBASE ."
    ;
  }
}


@media (min-width: 950px){
  .home-area{
    grid-template: [row-start] repeat(auto, 1fr) [row-end] / [col-start] 1% repeat(9, 1fr) 1% [col-end]; //rows set to automatic; now fits
    grid-gap: 10px 10px; //row columns
    grid-template-areas:
    ". elHEAD elHEAD elHEAD elHEAD elHEAD elHEAD elHEAD elHEAD elHEAD ."
    ". elA elA elA elB elB elB elC elC elC ."
    ". elHEADTWO elHEADTWO elHEADTWO elHEADTWO elHEADTWO elHEADTWO elHEADTWO elHEADTWO elHEADTWO ."
    ". elD elD elD elE elE elE elF elF elF ."
    ". elHEADTHREE elHEADTHREE elHEADTHREE elHEADTHREE elHEADTHREE elHEADTHREE elHEADTHREE elHEADTHREE elHEADTHREE ."
    ". elG elG elG elH elH elH elI elI elI ."
    ". elBASE elBASE elBASE elBASE elBASE elBASE elBASE elBASE elBASE ."
    ;
  }
}


.home-head{
  grid-area: elHEAD;
}
.home-a{
  grid-area: elA;
}
.home-b{
  grid-area: elB;
}
.home-c{
  grid-area: elC;
}
.home-head-two{
  grid-area: elHEADTWO;
}
.home-d{
  grid-area: elD;
}
.home-e{
  grid-area: elE;
}
.home-f{
  grid-area: elF;
}
.home-head-three{
  grid-area: elHEADTHREE;
}
.home-g{
  grid-area: elG;
}
.home-h{
  grid-area: elH;
}
.home-i{
  grid-area: elI;
}
.home-base{
  grid-area: elBASE;
}
