.home-area {
  grid-gap: 5px;
  grid-template-areas:
  "elementa"
  "elementb"
  "elementc"
  "elementd"
  "elemente"
  "elementf"
  "elementg" //this can be the base of the page
  "elementh"
  "elementi"
  "elementj"
  "elementk"

  ;
}

@media (min-width: 768px){
  .home-area{
    // background-color: #E5E5E5;
    grid-gap: 6px;
    grid-template-areas:
    ". elementa elementa ."
    ". elementb elementb ."
    ". elementc elementc ."
    ". elementd elementd ."
    ". elemente elemente ."
    ". elementf elementf ."
    ". elementg elementg ."
    ". elementh elementh ."
    ". elementh elementi ."
    ". elementh elementj ."
    ". elementh elementk ."

    ;
  }
}


@media (min-width: 950px){
  .home-area{
    // background-color: #E5E5E5;
    margin: 10px 0px 10px 0px;
  .card-home{
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #a8a8a8;
    background-color: white;
  }
    grid-template: [row-start] repeat(auto, 1fr) [row-end] / [col-start] 1% repeat(9, 1fr) 1% [col-end]; //rows set to automatic; now fits
    grid-gap: 10px 10px; //row columns
    grid-template-areas:
    ". elementa elementa elementa elementa elementa elementa elementa elementa elementa ."
    ". elementb elementb elementb elementc elementc elementc elementd elementd elementd ."
    ". elemente elemente elemente elementf elementf elementf elementg elementg elementg ."
    ". elementh elementh elementh elementi elementi elementi elementj elementj elementj ."

    ;
  }
}

.home-head{
  grid-area: elementa;
}
.home-online{
  grid-area: elemente;
}
.home-hourly{
  grid-area: elementf;
}
.home-monthly{
  grid-area: elementg;
}
.home-hobby{
  grid-area: elementh;
}
// .home-ex{
// grid-area: elementf;
// }
.home-edu{
  grid-area: elementi;
}
.home-train{
  grid-area: elementj;
}
.home-lang{
  grid-area: elementb;
}
.home-city{
  grid-area: elementc;
}
.home-cat{
  grid-area: elementd;
}
