// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "dashboard"; // references 'layout/dashboard.scss' -> application.scss
@import "profile"; // refereces 'layout/dashboard.scss' -> application.scss
@import "consultationshow"; //references 'consultatioshow.scss' -> application.scss
@import "consultationindex"; //references 'consultationindex.scss' -> application.scss
@import "appointmentshow"; //references '_appointmentshow.scss'
@import "messageshow"; //refereces '_messagesshow.scss'
@import "user_message_index";
@import "pages_home";
@import "indexlayout"; //generic layout for index pages
@import "user_show";
@import "devise";
