.element-show-area{
  //this is for the grid layout
  grid-gap: 2px;
  grid-template-areas:
  "eshow"
;
}

@media (min-width: 850px){
  .element-show-area{
    // background-color: #E5E5E5;
    grid-gap: 5px;
    grid-template-areas:
    "eshow eshow eshow eshow"
    ;
  }
}

@media (min-width: 950px){
  .element-show-area{
    // background-color: #E5E5E5;
    // display: grid;
    // grid-template: [row-start] repeat(8, 1fr) [row-end] / [col-start] 2% repeat(8, 1fr) 2% [col-end]; // rows/cols
    grid-template: [row-start] repeat(auto, 1fr) [row-end] / [col-start] 1% repeat(8, 1fr) 1% [col-end]; //rows set to automatic; now fits
    grid-gap: 2px 2px; //row columns
    grid-template-areas:
    ". . . . eshow . . . ."
    ;
  //   /* same as below:
  //   display: grid;
  //   grid-template-columns: [start-col] 1fr [second-col] 1fr [third-col] 1fr [third-col] 1fr [fouth-col] 1fr [end-col]; //corner to corner
  //   grid-template-rows: [start-row] 1fr [second-row] 1fr [end-row]; //top to bottom
  //   */
  }
}
//this is for the objects
.element-show-shell{
  grid-area: eshow;
}
.show-consult-items{
  display: flex;
  justify-content: space-between; //aligned on column?
  align-items: center; //center of row?
  // text-align: center;
  flex-direction: row;
}
.show-consult-item{
  flex: 0 0 33%;
  // 100%/3(items) => 33.3%
}
.show-consult-item2{
  flex: 1 0 auto;
}
