input[type=text], input[type=email], input[type=tel]{
  border-bottom: 2px rgba(48, 48, 48, 0.2) solid;
}
input[type=text]:focus, input[type=email]:focus{
    outline: none !important;
    box-shadow: 0 0 6px #719ECE;
    border-bottom: 2px #2B8DDF solid;
}
