<div class="content-grid element-index-area padding">
  <div class="element-index-shell shell-border">
    <div class="center-div center-text">
      <h1 class="center-text">PRODUCTS</h1>
      <h6 class="center-text"><%= link_to 'dashboard', dashboard_path %></h6>
    </div>
    <div class="flex-space-between grey-shell-gradient padding-5">
      <!--header work-->
      <div class="flex-25"><h6>CLASS</h6></div>
      <div class="flex-25"><h6>TYPE</h6></div>
      <div class="flex-25 center-text"><h6>INFO</h6></div>
      <div class="flex-25 center-text"><h6>DESTROY</h6></div>
    </div><!--end of flex-space-between dashboard-consults-product-items shell-border shell-tab-->
    <div id="products" class="dashboard-consults-product-div">
      <% @user_products.each do |consultation| %>
          <%= render 'consultations/show_user_products', element: consultation %> <!--c(generic local used in partial) : |consultation|-->
      <% end %><!-- end of current_user.consultations.each do-->
    </div><!-- end of dashboard-consults-product-div -->
  </div>
</div><!--end of user-shell grey-gradient-->
