<div class="content-grid element-index-area padding-5">
  <div class="element-index-shell shell-border">
    <div class="center-div center-text">
      <h1 class="center-text">MESSAGES</h1>
      <h6 class="center-text"><%= link_to 'dashboard', dashboard_path %></h6>
    </div>
    <div class="flex-space-between flex-wrap grey-shell-gradient padding-5">
      <div class="flex-33"><h6><b>SENDER</b></h6></div>
      <div class="flex-33"><h6><b>MESSAGE</b></h6></div>
      <div class="flex-33 center-text"><h6><b>TIME/DATE</b></h6></div>
    </div><!--end of user message-flex-space-between-->
    <% @user_consultations.each do |c| %>
      <% c.messages.each do |m| %>
        <%= link_to message_path(m) do %>
          <div class="flex-space-between">
            <%= render 'messages/show_min_messages', element: m %>
          </div><!--end of flexbox shell-tab-->
        <% end %>
        <hr>
      <% end %><!--end of c.messages-->
    <% end %><!--end of @user_consultations-->
  </div><!-- end of user-message-list-shell shell-border grey-shell-gradient-->
</div><!--end of content-grid-->
