<div class="content-grid element-index-area padding-5">
  <div class="element-index-header">
    <%= render "shared/app_header" %>
  </div>
  <div class="element-index-panel shell-border-dark black-background white-text">
    <%= render "shared/menu_panel" %>
  </div>
  <div class="element-index-shell shell-border">

  </div>
  <div class="element-index-base">
    <%= render "shared/app_base" %>
  </div>
</div>
