<div class="flex-center-column padding mw">
  <div class="flex-center-center shell-search center-text hidden-md hidden-lg">
    <%= render "consultations/search_form" %>
  </div><!--end of shell-search-div-->
</div><!--end of flex-column-->
