<div class="flex-space-between shell-search center-text padding-10 hidden-md hidden-lg">
      <!-- ^ flex-sp-betwee for the items inside the searchbox-->
      <!-- <input class="navbar-search-input center-text center-div" type="text" placeholder="service, city, language">
      <div class="btn"><i class="fas fa-search"></i></div> -->
  <%= render "consultations/search_form" %>
</div>
