<div class="flex-center-column">
  <div class="flex-center-center shell-search center-text padding-10 hidden-md hidden-lg">
    <%= render "consultations/search_form" %>
  </div><!--end of shell-search-div-->
  <h1>hi from header</h1>
</div><!--end of flex-column-->
