<h1>Appointment#confirmationx</h1>

<p>
  Hello <%= @appointment.consultation.user.fname %>,
</p>
<p>
  This is your confirmation letter. You have an appointment is with <%= @appointment.user.fname %> on <%= @appointment.start %>!
</p>
