<!--minified for the dashboard-->
<div class="flex-space-between dash-shell-tab grey-tab-gradient">
  <div class="flex-50 navy-text"><h5><b><%= truncate( element.job_title, length: 20) %></b></h5></div>
  <div class="flex-25"><%= link_to job_post_path(element) do %>
    <i class="fas fa-lg fa-info-circle" aria-hidden="true"></i><% end %>
  </div>
  <div class="flex-25"><%= link_to job_post_path(element), class: "charcoal-text",method: :delete do %>
    <i class="fas fa-lg fa-trash-alt" aria-hidden="true"></i><% end %>
  </div>
</div><!--end of flex-space-between dashboard-consults-job-items shell-border shell-tab-->
