.card-home{
  // border: 0.5px solid white;
  // padding: 1px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: white;
}

.card1{
  border: 1px solid white;
  padding: 4px;
  margin: 5px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: white;
}

.card2{
  border: 1px solid white;
  padding: 3.5px;
  margin-bottom: 2px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: white;
}

.card-bg-image{
  background-size: cover;
  height: 250px;
  width: 100%;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
}

