.card1{
  border: 1px solid white;
  padding: 5px;
  margin: 8px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: #F8F8F8;
}

.card2{
  border: 1px solid white;
  padding: 3.5px;
  margin-bottom: 2px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: #F8F8F8;
}
