.card-home{
  // border: 0.5px solid white;
  // padding: 1px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: white;
}
.card-hm-drk{
  // border: 0.5px solid white;
  // padding: 1px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px $black;

}

.card1{
  border: 1px solid white;
  padding: 4px;
  margin: 5px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: white;
}

.card2{
  border: 1px solid white;
  padding: 3.5px;
  margin-bottom: 2px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: white;
}
.card-bg-image{
  background-size: cover;
  height: 250px;
  width: 100%;
  background-position: center;
  border-radius: 5px 5px 0px 0px;
  }

@media (min-width: 768px){
  .card-bg-image{
  background-size: cover;
  height: 250px;
  width: 100%;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
  }
}
@media (min-width: 950px){
    // background-color: #E5E5E5;
  .card-home{
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #a8a8a8;
    background-color: white;
  }
  .card-hm-drk{
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px;
  }
  .card-bg-image{
  background-size: cover;
  height: 250px;
  width: 100%;
  background-position: center;
  border-radius: 20px 20px 0px 0px;
  }
}

.card-body{
  padding: 10px;
}
