.shell-border{
  border-radius: 5px;
  border: 1px solid white;
  padding: 4px;
  margin: 4px;
  box-shadow: 1px 1px 5px #a8a8a8;
  // box-shadow: 0.5px 0.5px 4px #a8a8a8;
  // background-color: #FEFEFE;
}
.shell-border-dark{
  border-radius: 5px;
  border: 1px solid charcoal;
  padding: 4px;
  margin: 4px;
  box-shadow: 1px 1px 5px #a8a8a8;
  // box-shadow: 0.5px 0.5px 4px #a8a8a8;
  // background-color: #FEFEFE;
}
.shell-border-no-pad{
  border-radius: 5px;
  border: 1px solid white;
  margin: 4px;
  box-shadow: 1px 1px 5px #a8a8a8;
  // box-shadow: 0.5px 0.5px 4px #a8a8a8;
  // background-color: #FEFEFE;
}
.shell-tab{
  border-radius: 5px;
  border: 1px solid white;
  padding: 4px;
  margin: 4px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 6px #a8a8a8;
  background-color: #FEFEFE;
}

.shell-tab-header{
  border: 1px solid white;
  padding: 3px;
  margin: 4px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 6px #a8a8a8;
  background-color: #FEFEFE;
}

.shell-tab-header-dark{
  border: 1px solid charcoal;
  padding: 4px;
  margin: 4px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 6px charcoal;
  background-color: charcoal;
}

.shell-search {
  border-radius: 20px;
  width: 80%;
  color: $black;
  padding: 5px;
  border: 1px solid $brand-red;
  // box-shadow: 1px 1px 6px #a8a8a8;
}

.shell-sign-in{
  border: 1px solid white;
  border-radius: 4px;
  padding: 3px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 6px #a8a8a8;
  background-color: #FEFEFE;
  //same as shell-tab-header; delete one
}
.user-page-shell{
  border: 1px solid white;
  padding: 3px;
  margin: 1px;
  box-shadow: .5px .5px 3px #a8a8a8;
  background-color: #FEFEFE;
}

.dash-shell-tab{
  border: 1px solid white;
  padding: 3.5px;
  margin-bottom: 2px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 4px #a8a8a8;
  background-color: #FEFEFE;
}

.shell-filter-container{
  border: 1px solid white;
  padding: 1px;
  margin: 0px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 2px #a8a8a8;
  background-color: white;
  //same as shell-tab-box; delete one
}

.icon-shell{
  box-shadow: 1px 1px 6px #808080;
  background-color: #F5F5F5;
}

.icon-shell-dark{
  box-shadow: 1px 1px 6px #303030;
  background-color: #F5F5F5;
}

.counter{
  border: 1px solid $charcoal;
  background-color: $white;
  width: 30px;
  length: 30px;
  // box-shadow: 1px 1px 6px #a8a8a8;
  border-radius: 49%;
  padding: 3px;
  margin: 3px;
  color: $red;
  text-align: center;
}

.mw350{
  max-width: 350px;
}

.mw400{
  max-width: 400px;
}

.mw600{
  max-width: 600px;
}

.mw800{
  max-width: 800px;
}
.mw{
  max-width: 100%;
}

