.shell-border{
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
  margin: 8px;
  box-shadow: 2px 2px 9px #a8a8a8;
  // box-shadow: 0.5px 0.5px 4px #a8a8a8;
  // background-color: #F8F8F8;
}
.shell-border-no-pad{
  border-radius: 5px;
  border: 1px solid white;
  margin: 8px;
  box-shadow: 2px 2px 9px #a8a8a8;
  // box-shadow: 0.5px 0.5px 4px #a8a8a8;
  // background-color: #F8F8F8;
}
.shell-tab{
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
  margin: 8px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: #F8F8F8;
}

.shell-tab-header{
  border: 1px solid white;
  padding: 5px;
  margin: 8px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: #F8F8F8;
}

.shell-tab-box{
  border: 1px solid white;
  padding: 5px;
  margin: 8px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: #F8F8F8;
}

.dash-shell-tab{
  border: 1px solid white;
  padding: 3.5px;
  margin-bottom: 2px;
  // box-shadow: 2px 2px 9px #a8a8a8;
  box-shadow: 1px 1px 10px #a8a8a8;
  background-color: #F8F8F8;
}

.mw800{
  max-width: 800px;
}
.mw400{
  max-width: 400px;
}

.mw600{
  max-width: 600px;
}
