.user-profile-image-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-image-div .user-large-profile-image-img{
  height: 200px;
  width: 200px;
}//icon on dashboard
.user-sm-profile-image-img{
  height: 60px;
  width: 60px;
}
