.user-profile-image-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-image-div .user-large-profile-image-img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}//icon on dashboard

.user-md-profile-image-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.user-sm-profile-image-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

//moved to shell page:
// .icon-shell{
//   box-shadow: 1px 1px 10px #808080;
//   background-color: #F5F5F5;
// }

// .icon-shell-dark{
//   box-shadow: 1px 1px 10px #303030;
//   background-color: #F5F5F5;
// }
