.user-profile-image-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-image-div .user-large-profile-image-img{
  height: 180px;
  width: 180px;
}//icon on dashboard
.user-sm-profile-image-img{
  height: 50px;
  width: 50px;
}
