// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index"; // go to 'layouts/index.scss'
@import "components/index";
@import "pages/index"; // go to 'pages/index.scss'

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none !important;
}
li {
  list-style: none;
}
// .content-grid{
//   display: grid;
//   grid-gap: 10px;
// }
.flex{
  display: flex;
}
.center-text{
  text-align: center;
}
.center-div{
  margin: auto;
}
.content-grid{
  display: grid;
}
.flex-space-between-3item-row{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex-space-between{
  display: flex;
  justify-content: space-between; //aligned on column?
  align-items: center; //center of row?
  flex-direction: row;
}
.flex-space-between-no-center{
  display: flex;
  justify-content: space-between; //aligned on column?
  // align-items: center; //center of row?
  flex-direction: row;
}
.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-item-no-grow-shrink-0{
  flex: 0 0 auto;
}
.flex-item-grow-only-auto{
  flex: 1 0 auto;
}
.flex-item-no-grow-shrink-15{
  flex: 0 0 10%;
}
.flex-item-no-grow-shrink-15{
  flex: 0 0 15%;
}
.flex-item-no-grow-shrink-20{
  flex: 0 0 20%;
}
.flex-item-no-grow-shrink-30{
  flex: 0 0 30%;
}

.padding{
  padding: 10px;
}

.padding-5{
  padding: 5px;
}

.grey-tab-gradient{
  background-image: -webkit-linear-gradient(275deg, rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(275deg, rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: linear-gradient(5deg, rgba(0,0,0,0.1), rgba(0,0,0,0));
}

.grey-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0,0.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(0, 0, 0,0.1), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(0, 0, 0,0.1), rgba(0,0,0,0));
}
.blue-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(132,175,255,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(132,175,255,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(132,175,255,0.5), rgba(0,0,0,0));
}
.turcoise-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(4,139,168,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(4,139,168,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(4,139,168,0.5), rgba(0,0,0,0));
}
.green-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(22,219,147,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(22,219,147,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(22,219,147,0.5), rgba(0,0,0,0));
}
.yellow-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(239,234,90,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(239,234,90,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(239,234,90,0.5), rgba(0,0,0,0));
}
.orange-shell-gradient{
  background-image: -webkit-linear-gradient(rgba(242,158,76,0.5), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(242,158,76,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(rgba(242,158,76,0.5), rgba(0,0,0,0));
}
