// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index"; // go to 'layouts/index.scss'
@import "components/index";
@import "pages/index"; // go to 'pages/index.scss'

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none !important;
}
li {
  list-style: none;
}
// .content-grid{
//   display: grid;
//   grid-gap: 10px;
// }
.content-grid{
  display: grid;
}

.flex-space-between{
  display: flex;
  justify-content: space-between; //aligned on column?
  align-items: center; //center of row?
  flex-direction: row;
}
.header-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding{
  padding: 10px;
}
