<div class="">
  <%= simple_form_for([lesson, appointment]) do |f| %>
  <h5> name <span class="red-text">&#42;</span></h5>
    <%= f.input :pupil, label: false, placeholder: "-your name-" %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
