<div class="">
  <%= simple_form_for([@appointment]) do |f| %>
    <%= f.input :pupil, label: false, placeholder: "client name" %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
